Language: Cpp
BasedOnStyle: Mozilla
BreakBeforeBraces: Custom
BraceWrapping: 
  BeforeElse: true
  BeforeCatch: true
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
FixNamespaceComments: true
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
PointerAlignment: Left
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: true
AllowShortFunctionsOnASingleLine: InlineOnly
BreakAfterAttributes: Always
PenaltyReturnTypeOnItsOwnLine: 100000