.vscode/
.xmake/
.cache/
# Build folders
bin/
build/
# Models and textures, to spare repo size
assets/models/
assets/textures/
# ImGui state
imgui.ini
# Docs folder
docs/
# Renderdoc frame files
*.rdc
# Examples folder
examples/